.header .link {
    font-weight: bold !important;
    font-size: 20px;
    text-decoration: none !important;
}

.link:hover {
    text-decoration: none !important;
}

.log-link {
    text-decoration: none !important;
    font-weight: bold !important;
    font-size: 25px;
    background-color: rgb(240, 129, 26);
    padding: 5px 25px;
    border-radius: 5px;
    color: white;
}

.header {
    /* background-color: teal; */
}