.login-form {
    margin: 0 auto;
    padding: 30px;
    border: 1px solid gray;
    width: 500px;
}

.login-form span,
p {
    color: #bf1650;
}

.login-form label {
    display: block;
    font-size: 15px;
    font-weight: 500;
}

.login-container p {
    font-weight: bold;
    display: inline-block;
    padding: 10px;
}

.loginBtn {
    margin-top: 5px;
    background-color: rgb(245, 137, 37);
    border: none;
    border-radius: 5px;
    color: white;
    padding: 5px 15px;
    font-weight: bold;
}

.authLoginBtn {
    margin: 0 auto;
    /* background-color: rgb(245, 137, 37); */
    border: none;
    border-radius: 5px;
    color: black;
    padding: 10px 15px;
    display: block;
    font-weight: bold;
    margin-bottom: 10px;
}